* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.sidebar {
  background: #407088;
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  font-weight: 300;
}
.sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.sidebar .profile .profile-picture {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.sidebar .profile .profile-picture:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.sidebar .profile .profile-title {
  color: #ffffff;
  margin: 15px 0 5px;
}
.sidebar .profile .profile-description {
  color: rgb(206, 240, 253);
  font-size: 14px;
}
.sidebar .sidebar-menu .sidebar-item #item-link {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid rgb(5, 68, 104);
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}
.sidebar .sidebar-menu #item-link:hover,
.sidebar .sidebar-menu #item-link.active {
  color: #0c7db1;
  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}
.sidebar.sidebar-menu #item-link:hover:before,
.sidebar .sidebar-menu #item-link:before {
  display: block;
}
.about-block {
  text-align: center;
  justify-content: center;
  display: flex;
}
.hidden {
  display: none;
}
.show-text {
  display: block;
  margin: 120px 100px 10px 300px;
  font-size: large;
  text-align: justify;
  line-height: 1.6;
  white-space: pre-line;
}
.show-discography .discography-menu .discography-list {
  margin: 30px 0px 30px 330px;
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: repeat(3, 4fr);
}
.discography-item {
  margin: 10px 10px 20px 10px;
}
.album-title {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.discography-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.show-music {
  display: flex;
  justify-content: center;
}
.show-music .gif-picture {
  margin: 130px 50px 0 200px;
}
.songs-list {
  margin: 100px 0;
}
.gif-picture {
  object-fit: cover;
  margin: 0px 60px 0;
  height: 450px;
  width: 550px;
}
.audio-title {
  padding: 3px 0;
}
audio::-webkit-media-controls-panel {
  background: #d23232;
}
audio::-webkit-media-controls-current-time-display {
  font-family: "Raleway", sans-serif;
}
audio::-webkit-media-controls-time-remaining-display {
  font-family: "Raleway", sans-serif;
}
@media only screen and (max-width: 768px) {
  .show-text {
    display: block;
    margin: 20px 100px 10px 300px;
    font-size: large;
    text-align: justify;
    line-height: 1.6;
    white-space: pre-line;
  }
  .show-discography .discography-menu .discography-list {
    margin: 30px 0px 30px 330px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .show-music {
    display: block;
  }
  .show-music .gif-picture {
    margin: 100px 290px 0 290px;
  }
  .songs-list {
    margin: 25px 330px 0 350px;
  }
  .gif-picture {
    object-fit: cover;
    margin: 0px -60px;
    height: 300px;
    width: 400px;
  }
  .audio-title {
    padding: 5px 10px;
    width: 200px;
  }
  audio::-webkit-media-controls-panel {
    background: #d23232;
  }
  audio::-webkit-media-controls-current-time-display {
    font-family: "Raleway", sans-serif;
  }
  audio::-webkit-media-controls-time-remaining-display {
    font-family: "Raleway", sans-serif;
  }
}
@media only screen and (max-width: 600px) and (max-height: 844px) {
  .sidebar {
    background: #407088;
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    height: 270px;
    padding: 10px 0;
    font-weight: 300;
  }
  .sidebar .profile {
    margin-bottom: 20px;
    text-align: center;
    margin-right: 23%;
  }
  .sidebar .profile .profile-picture {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
  }
  .sidebar .profile .profile-title {
    color: #ffffff;
    margin: 15px 0 5px;
  }
  .sidebar .sidebar-menu .sidebar-item #item-link {
    display: block;
    padding: 5px 20px;
    border-bottom: 1px solid #407088;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
  }
  .sidebar .sidebar-menu .sidebar-item #item-link:hover,
  .sidebar .sidebar-menu .sidebar-item #item-link.active {
    color: #0c7db1;
    background: white;
  }
  .sidebar .sidebar-menu .sidebar-item #item-link:hover:before,
  .sidebar .sidebar-menu .sidebar-item #item-link.active:before {
    display: block;
  }
  .about-block {
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .show-text {
    display: block;
    margin: 280px 20px 20px 20px;
    font-size: large;
    text-align: justify;
    line-height: 1.6;
    white-space: pre-line;
  }
  .show-discography .discography-menu .discography-list {
    margin: 280px 35px 0px 35px;
    display: block;
  }
  .show-music {
    display: block;
  }
  .show-music .gif-picture {
    margin: 280px 45px 0 45px;
  }
  .songs-list {
    margin: 10px 45px 0 45px;
  }
  .gif-picture {
    object-fit: cover;
    margin: 0px -60px;
    height: 200px;
    width: 300px;
  }
  .audio-title {
    padding: 5px 10px;
    width: 200px;
  }
  audio::-webkit-media-controls-panel {
    background: #d23232;
  }
  audio::-webkit-media-controls-current-time-display {
    font-family: "Raleway", sans-serif;
  }
  audio::-webkit-media-controls-time-remaining-display {
    font-family: "Raleway", sans-serif;
  }
}

@media only screen and (max-width: 600px) and (max-height: 812px) {
  .sidebar {
    background: #407088;
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    height: 260px;
    padding: 10px 0;
    font-weight: 300;
  }
  .sidebar .profile {
    margin-bottom: 20px;
    text-align: center;
    margin-right: 23%;
  }
  .sidebar .profile .profile-picture {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
  }
  .sidebar .profile .profile-title {
    color: #ffffff;
    margin: 15px 0 5px;
  }
  .sidebar .sidebar-menu .sidebar-item #item-link {
    display: block;
    padding: 5px 20px;
    border-bottom: 1px solid #407088;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
  }
  .sidebar .sidebar-menu .sidebar-item #item-link:hover,
  .sidebar .sidebar-menu .sidebar-item #item-link.active {
    color: #0c7db1;
    background: white;
  }
  .sidebar .sidebar-menu .sidebar-item #item-link:hover:before,
  .sidebar .sidebar-menu .sidebar-item #item-link.active:before {
    display: block;
  }
  .about-block {
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .show-text {
    display: block;
    margin: 280px 20px 20px 20px;
    font-size: large;
    text-align: justify;
    line-height: 1.6;
    white-space: pre-line;
  }
  .show-discography .discography-menu .discography-list {
    margin: 280px 0px 30px 30px;
    display: block;
  }
  .show-music {
    display: block;
  }
  .show-music .gif-picture {
    margin: 280px 35px 0 35px;
  }
  .songs-list {
    margin: 10px 35px 0 35px;
  }
  .gif-picture {
    object-fit: cover;
    margin: 0px -60px;
    height: 200px;
    width: 300px;
  }
  .audio-title {
    padding: 5px 10px;
    width: 200px;
  }
  audio::-webkit-media-controls-panel {
    background: #d23232;
  }
  audio::-webkit-media-controls-current-time-display {
    font-family: "Raleway", sans-serif;
  }
  audio::-webkit-media-controls-time-remaining-display {
    font-family: "Raleway", sans-serif;
  }
}
